# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ develop, Fix-UpdateCI ]
  pull_request:
    branches: [ develop, Fix-UpdateCI ]
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
       - name: Set up MySQL 5.7
         uses: javhidrod8/Localizer@Fix-UpdateCI
         with:
           mysql version: 5.7
           mysql database: test
           mysql root password: root
       - uses: actions/checkout@v1
       - name: Set up JDK 8
         uses: actions/setup-java@v2
         with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
       - name: Build with Maven Wrapper
         run: ./mvnw -B package
